:root {
    --bg-light: hsl(0, 0%, 100%);
    --bg-dark: hsl(40, 8%, 93%);
    --accent-dark: hsl(213, 27%, 24%);
    --accent-light: hsl(28, 79%, 66%);
}

.mt-quick-preview-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: .5rem 1rem;
    border: 1px solid var(--accent-light);
    color: var(--accent-dark);
    background-color: var(--bg-light);
}

.mt-quick-preview-button:hover {
    background-color: var(--bg-dark);
}

.mt-quick-preview-container {
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
}

.mt-quick-preview-content {
    width: 750px;
    height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -45vh;
    margin-left: -375px;
    padding: 1rem;
    overflow-y: scroll;

    background-color: var(--bg-dark);
    line-height: .9rem;
}

.mt-quick-preview-content > .stats,
.mt-quick-preview-content > h1 {
    text-align: center;
}

.mt-quick-preview-content > img {
    display: flex;
    margin: 0 auto;
}