:root {
    --bg-light: hsl(0, 0%, 100%);
    --bg-dark: hsl(40, 8%, 93%);
    --accent-dark: hsl(213, 27%, 24%);
    --accent-light: hsl(28, 79%, 66%);
}

* {
    margin: 0;
    padding: 0;
}

label, h1, h2, h3, h4, h5, p, button {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    color: var(--text-dark);
}

body {
    min-width: 300px;
    margin-top: 0;
    background-color: var(--bg);
}

.container {
    padding: 0 1rem 1rem 1rem;
    background-color: var(--bg-dark);
}

.banner {
    display: flex;
    justify-content: center;
    max-width: 300px;
}

.banner > img {
  max-width: 300px;
  object-fit: contain;
}

.settingsContainer {
    padding: 1rem;
    background-color: var(--bg-dark);
}

.settingContainer {
    display: flex;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--accent-light);
}

.settingText {
    min-width: 200px;
}

.settingSlider {
    display: flex;
    align-items: center;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 19px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-light);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: var(--accent-light);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-dark);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-dark);
}
input:checked + .slider::before {
  background-color: var(--bg-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#refresh_container {
  display: flex;
  justify-content: center;
  transition: .2s;
}
#refresh_button {
  padding: .5rem 1.25rem;
  border: 1px solid var(--accent-light);
  background-color: var(--bg-light);
  transition: .2s;
}
#refresh_button:hover {
    background-color: var(--bg-dark);
}